/* **************** */
/* *** DEFAULTS *** */
/* **************** */
html,body { margin: 0; padding: 0; height: 100%; }
body {
	background-color: #E6E6E6;
	color: #4D4D4D;
	font-size: 13px;
	font-family: "Apercu Regular", Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 24px;
	width: 100%;
	position: relative;
}

a {
	color: #999;
	text-decoration: none;
}
	a.active, a:hover { color: #4D4D4D; }

.wrapper {
	position: relative;
	height: 100%;
}

.container { 
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,1);
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
}


/* ************************ */
/* *** HEADER & CONTENT *** */
/* ************************ */
.title {
	background-color: #000;
	color: #fff;
	width: 100%;
	padding: 4px 0;
	font-size: 12px;
	text-align: center;
}

header {
	background-color: #fff;
	padding: 0 24px;
	font-size: 13px;
	position: fixed;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	width: 912px;
}
	header ul { padding: 0; }
		header .main-menu { float: left; }
		header .secondary-menu { float: right; }
	header li { display: inline-block; }
	header .main-menu li { margin-right: 24px; }
    header .secondary-menu li { margin-left: 24px; }

.content {
	margin-top: 50px;
	padding: 24px 0;
}


/* ******************* */
/* *** FORM FIELDS *** */
/* ******************* */
fieldset {
	border: none;
	clear: both;
	padding: 0 24px 8px;
}
	fieldset:last-of-type,
	fieldset:last-child {
		padding-bottom: 0;
		text-align: left;
	}

label {
	display: inline-block;
	text-align: left;
	width: 100px;
}
	label span { color: #D64F2A; }
input {
	display: inline-block;
	height: 20px;
}
	input[type="submit"] {
		background: none;
		border: 1px solid #4D4D4D;
		color: #4D4D4D;
		display: inline-block;
		padding: 3px 10px 1px;
		height: auto;
		-webkit-transition: -webkit-box-shadow 200ms; -moz-transition: -moz-box-shadow 200ms;
		-ms-transition: -ms-box-shadow 200ms; -o-transition: -o-box-shadow 200ms;
		transition: box-shadow 200ms;
	}
		input[type="submit"]:hover {
			-webkit-box-shadow: 0 0 6px 0 #4D4D4D;
			-moz-box-shadow: 0 0 6px 0 #4D4D4D;
			box-shadow: 0 0 6px 0 #4D4D4D;
		}
.info {
    text-align: center;
    margin: 20px 0;
}

/* ********************************** */
/* *** HOME, SEARCH, BROWSE & TOP *** */
/* ********************************** */
.top,
.search { text-align: center; }
.home { margin-top: 150px; }
	.home input {
		display: block;
		margin: 0 auto;
	}
		.search input[type="text"],
		.home input[type="text"] {
		 	-webkit-border-radius: 6px;
		  	-moz-border-radius: 6px;	
		    border-radius: 6px;
		    outline: 0;
		    border: 1px solid #4D4D4D;
		    margin: 0 auto;
		    width: 78%;
		    padding: 0 1%;
		    height: 22px;
		}
		.search input[type="submit"],
		.home input[type="submit"] {
			-webkit-border-radius: 6px;
		  	-moz-border-radius: 6px;	
		    border-radius: 6px;
            outline: 0;
			width: 15%;
			padding: 0;
			height: 24px;
		}
		.search input[type="submit"] { margin: 0; }
		.home input[type="submit"] { margin-top: 24px; }
		
	.home h1 {
   	 	text-align: center;
    	margin-bottom: 50px;
	}

    .top .no-results,
	.search .no-results { margin-top: 50px; }

    .top table,
	.search table {
	    width: 96%;
	    margin: 0 auto;
	    margin-top: 30px;
	}
    .top table { width: 76%; }
        .top th,
		.search th {
			border-bottom: 1px solid #000;
			padding-bottom: 8px;
		}
            .top th:hover,
			.search th:hover {
				cursor: pointer;
				color: #999;
			}
        .top tr:nth-child(even) td,
		.search tr:nth-child(even) td { background-color: #eee; }

.success, .error { text-align: center; margin-bottom: 20px; }
.error { color: #D64F2A; }
.success { color: #42BD77; }

/* ************* */
/* *** LOGIN *** */
/* ************* */
.login {
	margin-left: -210px;
	padding: 0 24px;
	position: absolute; left: 50%;
    margin-top: 150px;
}		


.cf { zoom: 1; } /* Legacy browser suport */
.cf:after,
.cf:before {
	content: "";
	display: table;
	clear: both;
}

